body {
  background: linear-gradient(
    180.3deg,
    rgb(214, 224, 255) 37.2%,
    rgb(254, 168, 168) 137.3%
  );
  font-family: "Montserrat", sans-serif;
}

html {
  min-height: 100%;
}

.weatherWrap {
  max-width: 700px;
  margin: 25px auto 10px;
}

.weatherApp {
  border: solid 2px #ffffff;
  background-color: transparent;
  border-radius: 5px;
  padding: 20px 20px 10px;
  margin-bottom: 5px;
}
